/*
*	Styling for form related components
*	Userforms module styling includes a little more than custom forms
*	so that they look finished without needing to modify any code.
*	Extend this style to apply userforms styling to your custom forms,
*	or modify it to change the look of your userforms
*/

/*	General 	*/
form {

}

input,
textarea,
select,
.uneditable-input {
	height: 1.385em;
	margin-bottom: 15px;
}

button,
.btn {
	&:focus {
		outline: none;
	}
	&:active {
		@include noShadow;
	}
}

/* Styling for messages */
.message{
	max-width:490px;
	margin-bottom: 15px;
	@include message('default');
	&.error, &.bad, &.required {
		@include message('error');
		padding: 10px;
	}
	&.good, &.success{
		@include message('success');
		padding: 10px;
	}
	&.warning{
		@include message('warning');
		padding: 10px;
	}
	&.info {
		@include message('info');
		padding: 10px;
	}
}
.required{
	@include formValidation($errorText, $errorText, $errorBackground);
}


/* Label formatting */
label {
	&.left {
		font-weight: bold;
	}
	&.extra {
		font-style: italic;
	}
	&.required{
		@include box-sizing(border-box);
		@extend .message.error;
		clear:both;
		float:none;
		width:100%;
		max-width:490px;
		.textarea &{
			width:100%;
			max-width: 100%;
		}
	}
}
span.extra {
	font-style: italic;
	font-weight: 300;
    display: inline-block;
    margin-bottom: $line-height-computed/2;
    margin-left: 10px;
}

.requiredField label .req-indicator, .requiredField legend .req-indicator{
	position:relative;
	color: $errorText;
	overflow: hidden;
	text-indent: -999px;
	display: inline-block;
	width: 6px;
	height: 16px;
	&:after{
		content: "*";
		position:absolute;
		left:0;
		text-indent:0%;
	}
}


// Optionset, Checkbox groups
legend { 		// Override bootstrap legend styles so they look like label.left
	@include font-shorthand($font-size-base,normal,$line-height-computed); // Set size, weight, line-height here
	font-weight: bold;
	border-bottom: 0;
	margin-bottom: 5px;
}



/* Form fields formatting */
textarea{
	@extend .form-control; //replicates input styling from Boostrap 3.0
	width:100%;
	height:200px;
	@include box-sizing(border-box);
}
select, input[type="text"], input.text, input[type="file"], input.file {
	@extend .form-control; //replicates input styling from Boostrap 3.0
	width:100%;
	max-width:490px;
	height:2.31em;
	@include box-sizing(border-box);
	&.date{
		width:110px;
		max-width:100%;
		#IE7 &{
			width:100px;
		}
	}
	#IE7 &{
		height:20px;
		width:490px;
		line-height:20px;
	}
}
input.file,
input[type="file"] {
	border: none;
	@include noShadow;
	padding-left: 0;
	line-height: 0.5;
}


/* Checkboxes and radio buttons */
form .optionset{
	list-style: none;
	margin-left: 0;
	input.checkbox {
	display: inline;
	height: auto;
	margin-top: -3px;
	}
	input.radio {
		display: inline;
		height: auto;
		margin-top: -3px;
	}
	label {
		font-weight: normal;
	}
	span.extra,
	label.extra {
		margin-left: 0;
	}
	ul.optionset {
		margin-bottom: 0;
	}
}
div.checkbox {
	padding-left: 0;
	position:relative;
	input.checkbox {
		min-height: 9px;
		height: auto;
		margin: 3px 5px 0 0;
		&.required {
			margin-bottom: 40px;
		}
	}
	label.required {
		position: absolute;
		top: 1.3em;
		margin-top: 5px;
	}
}


/*	Date styles	*/
div.date{
	input {
		margin-right: 5px;
	}
}
.ui-datepicker{	
	width:15em !important;
	max-width:50% !important;
}
.ui-widget{
	font-size:12px !important;
	line-height:12px !important;
}


/* Submit button styling */
.Actions{
	border-top:1px solid darken(#f5f5f5,10%);
	padding: 15px 0;
	@include clearfix;
	#MemberLoginForm_LoginForm_action_dologin{
		float:left;
	}
	#ForgotPassword{
		line-height:2em;
		font-size:0.9em;
		a{
			padding-left:30px;
		}
	}
}
.action{
	@extend .btn;
	@extend .btn-default;
	padding-left:15px;
	padding-right:15px;
	margin: 0 $line-height-computed/2 $line-height-computed/2 0;
	height:2.31em;
	&.primary {
		@extend .btn-primary;
	}
}
