/*
* 	Customisations to the styling for main top navigation of sidemenu
*/

// Main Nav styles
.navbar-default {
	border: none;
	background-color: transparent;
	margin-bottom: 0;
	min-height: 40px;
}
.navbar-collapse {
	.navbar-nav {
		margin-left: $grid-gutter-width*-1;
		li {
			position: relative;
			&.active,
			&.section {
				a {
					background-color: transparent;
					color: $header-bg;
					&::after {
						content: '';
						width: 14px;
						height: 14px;
						position: absolute;
						left: 50%;
						margin-left: -7px;
						bottom: -9px;
						background-color: $brand-focus;
						border-radius: 50%;
						border: 2px solid $header-bg;
						opacity: 1;
					}
					span {
						opacity: 0.8;
						&.dropdown-toggle {
							border-bottom: none;
							padding-bottom: 0;
						}
					}
					&:hover {
						background-color: transparent;
						color: $header-bg;
						opacity: 1;
					}
				}
				&.dropdown > a.has-children {
					.caret {
						border-top-color: $header-bg;
						border-bottom-color:  $header-bg;
					}
				}
			}
		}
	}
}

.navbar-default .navbar-nav {
	> li > a {
		font-family: $roboto;
		text-transform: uppercase;
		padding: 8px $grid-gutter-width/2;
		color: $header-bg;
		opacity: 1;
		transition: opacity 200ms;
		font-size: 0.8em;
		&:hover {
			background-color: transparent;
			opacity: 0.8;
			transition: opacity 200ms;
			color: $header-bg;
		}
	}
	> .dropdown > a {
		// Make toggle click area bigger for fingers
		&.has-children {
			padding-right: 30px;
		}
		.caret {
			margin-left: 0;
			border-top-color: $header-bg;
			border-bottom-color: $header-bg;
		}
		&:hover {
			.caret {
				border-top-color: $header-bg;
				border-bottom-color:  $header-bg;
			}
		}
	}
}

.navbar  span.showChildren { 
	position: absolute;
	padding-top: 3px;
	margin-top: 5px;
	width: 30px;
	height: 40px;
	top: 0;
	right: 0;
	text-align: center;
}
// inverts the caret when the dropdown is open
.navbar {
	.dropdown.open {
		a {
			background-color: transparent;
			color: $header-bg;
			&:hover {
				background-color: transparent;
				color: $header-bg;
				opacity: 0.8;
				.caret {
					border-top-color: $header-bg;
					border-bottom-color:  $header-bg;
					opacity: 0.8;
				}
			}
		}
		.showChildren {
			.caret {
				border-top: 0 dotted;
				border-bottom: 4px solid $header-bg;
			}
		}
		.dropdown-menu {
			@include border-radius(4px);
			li {
				a {
					padding: 3px $grid-gutter-width/2;
					color: $gray;
					&:hover {
						background-color: lighten($gray-lighter, 15%);
						color: $gray-dark;
					}
				}
			}
		}
	}
}
// added a background color to menu toggle icon
.navbar-default .navbar-toggle {
	.icon-bar {
		background-color: $navbar-default-link-color;
	}
	&:hover {
		.icon-bar {
			background-color: $navbar-default-link-hover-color;
		}
	}
}

// Tablets / Desktop / Large Desktop
@media (min-width: $screen-sm) {

}

// Tablets & small desktops only
@media (max-width: $screen-sm-max) {	
	.navbar {			// Smaller screen sizes 
		span.showChildren { 
			margin-top: 0;
			right: 23px;
		}
		.dropdown.open {
			.dropdown-menu {
				width: 100%;
				border: none;
				float: none;
				box-shadow: none;
				position: relative;
			}
		}
	}
	.navbar-responsive-collapse {
		margin-top: 50px;
		.navbar-nav {
			margin-top: 0;
		}
	}
}


/* Side navigation */
.side-nav-heading {
	margin-top: 0;
	@media (max-width: $screen-sm-max) {
		font-size: 1.2em;
	}
}
.sidebar-nav {
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px dashed darken($header-bg, 10%);
	border-bottom: 1px dashed darken($header-bg, 10%);
    .nav {
    	.nav {
    		border: none;
    		li { /* third level */
    			font-size: 0.9em;
		    	a {
		    		padding-left: $grid-gutter-width;
			    	padding-right: $grid-gutter-width;
		    	}
				.nav li {  /* fourth level */
			    	a {
			    		padding-left: $grid-gutter-width*1.5;
				    	padding-right: $grid-gutter-width*1.5;
			    	}
					.nav li { /* fifth level */
				    	a {
				    		padding-left: $grid-gutter-width*2;
					    	padding-right: $grid-gutter-width*2;
				    	}
						.nav li { /* sixth level */
					    	a {
					    		padding-left: $grid-gutter-width*2.5;
					    		padding-right: $grid-gutter-width*2.5;
					    	}
					    }
				    }
			    }
			}
	    }
	    a {
	    	font-family: $alegreya-sc;
	    	padding: 5px 0;
	    }
	    a:hover, a.active {
	    	background-color: transparent;
	    }
	    .active > a {
	    	color: $brand-primary;
	    }
      
    }
    .active > a,
	.active:hover > a,
	.active:focus > a,
	.section > a {
		font-weight: bold;
	}
}


@media (max-width: 979px) {
	.no-js {
		.navbar button.btn-navbar {
			display: none;
		}
	}
}
